<div style="width: 90%;margin: auto;">
    <div class="card">
        <br>
        <div class="card-header">
            <div class="row mx-3">
                <fa-icon [icon]="faUserFriends" [size]="'3x'" style="color: #636363;"></fa-icon>
                <h1 class="mx-5 " style="color: #636363;">Inventarios</h1>
                <div style="position: absolute;right:0;" class="mx-3">
                    <fa-icon [icon]="faPlus" class="btn btn-success" [size]="'lg'" data-toggle="tooltip" data-placement="bottom" title="Agregar una nueva sociedad" ></fa-icon>
                </div>
            </div>
        </div>
        <div class="card-body ">
            <div>
                <mat-grid-list cols="6" rowHeight="15px">
                    <mat-grid-tile>
                    </mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="6" rowHeight="120px">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    INICIO | 
                    <a href="#">{{lstLineas[0].categoria_nombre}}</a>
                    <mat-grid-tile *ngFor="let card of lstLineas">
                        
                            <a class="bottom" (click)="buscarPortafolioLinea(card)" 
                                style="border-radius: 5px; 
                                       background: rgb(49,99,173,0.8); 
                                       font-size: 15px; width:120px; 
                                       height:60px;
                                       text-align:center; 
                                       margin-top: 15px;
                                       ">
                                <span style="color: white;">
                                        <br>{{card.linea}}
                                </span>
                            </a>
                        
                        
                    </mat-grid-tile> 
                </mat-grid-list>
            </div>
            <br><br> 
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead style="color: #636363;">
                    <tr>
                        <th style="width: 55%; ">PRODUCTO</th>
                        <th style="width: 15%; ">CANTIDAD OPTIMO</th>
                        <th style="width: 15%; ">STOCK</th>
                        <th style="width: 20%; "></th>
                    </tr>
                </thead>
                <tbody style="color: #767695;">
                    <tr *ngFor="let inventario of lstInventarios">
                        <td>{{inventario.Producto}}</td>
                        <td>{{inventario.stock_optimo}}</td>
                        <td>{{inventario.stock}}</td>
                        <td>
                            <fa-icon [icon]="faEdit" class="btn btn-info" [size]="'sm'" style="margin-right: 5px;" data-placement="bottom" title="Editar Almacen"></fa-icon>
                            <fa-icon [icon]="faTrashAlt" class="btn btn-danger" [size]="'lg'" data-placement="bottom" title="Eliminar Almacen"></fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
